.nav-items {
  text-align: left;
  font-size: 50px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: right;
  color: white;
}

.info h1 {
  font-size: 65px;
  color: gray;
}

.info h3 {
  font-size: 18px;
  letter-spacing: 1px;
}

.info span {
  color: peru;
}

.background-img {
  height: 100%;
  width: 100%;
}

.logo {
  height: 1rem;
  width: 1rem;
}

.bio {
  border: solid;
}

.hire-btn {
  font-size: 20px;
  background-color: peru;
  border: 2px solid black;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  left: 100px;
}

.hire-btn:hover {
  background-color: white;
  cursor: pointer;
}

/* body {
  background-color: darkgray;
}

header {
  background-color: darkgray;
} */
